.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
}

.red {
    background-color: red;
    display: inline-block;
}

.green {
    background-color: green;
    display: inline-block;
}

.blue {
    background-color: blue;
    display: inline-block;
}

.yellow {
    background-color: yellow;
    display: inline-block;
}